{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "indent": ["error", 2]
  },
  "ignorePatterns": [
    "scripts/*"
  ]
}